.footer-section {
    padding-top: 52px;
    padding-bottom: 50px;
    background-color: #191919;
}

.footer-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.descr {
    color: #fefefe;
    max-width: 320px;
    text-align: center;
}

.footer-txt {
    
    margin: 0 auto;
    font-size: 21px;

    &::after {
        display: block;
        content: url('../images/footer-divider.png');
        margin: 10px;
    }
}

.footer-txt-p{
    margin: 0 0 10px 0;
    font-size: 16px;
    font-family: 'OpenSans Bold';
    
}

.icons-items{
display: flex;
flex-flow: row;
justify-content: center;
}

.icon {
    width: 22px;
    height: 14px;
    fill: #ffffff;
}


   
.link {
    
    &:hover {
        fill:#cc9900;
        transition: all .5s linear;
    }
}

.link1 {
    text-decoration: none;
}
