.header-logo-nav{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  // height: 110px;
  padding: 20px 0 20px 0;
}

.header-section{
  background: url("../images/header-background.png");
  background-size: cover;
  background-position: center;
}

.logo-img{
  display: block;
  height: 90px;
  width: 150px;
  // background-color: black;
}

.header-nav{
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 width: 910px;
 
}

.nav__links{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  &:hover{
      color: #dab33e;
      transition: all .5s linear;
      text-shadow: 1px 1px #00000088;
  }
}

.header-svg{
  display: block;
  height: 20px;
  width: 20px;
  fill: #dab33e;
  &:hover{
      fill: #ffffff;
      transition: all .5s linear;
  }
}

.header-txt-btn{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 97px;
  text-align: center;
}

.header-title{
  font-size: 90px;
  color: #fff;
  width: 970px;
  &::after{
      content: url('../images/header-divider.png');
      display: block;
      padding: 0 auto;
      margin: 0 auto;
      width: 230px;
      height: 43px;
      // margin-bottom: 30px;
  }
}
.header-btn{
  width: 230px;
  height: 56px;
  margin: 30px 0 30px 0;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.247);
  &:hover{
      border: 1px solid #000;
      background-color: rgba(0, 0, 0, 0.247);
      cursor: pointer;
      transition: all .5s linear;
  }
}
.header-media-nav{
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px){
.nav__links{
  display: none;
}
.header-media-nav{
  display: flex;
  width: 80px;
  height: 80px;
}
.svg-media-header{
  fill: #fff;
  &:hover{
    fill: #dab33e;
  transition: all .5s linear;}
}

.logo{
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
  align-items: flex-end;
}
.logo-img{
  width: auto;
  height: 180px;
}
.header-txt-btn{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header-title{
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin: 0;
  }
  .header-buttons{
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
  }
  .header-btn{
  width: 100px;
  height: 56px;
  margin-left: 20px;
  }

}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .header-nav{
    display: flex;
    flex-flow: row wrap;
    max-width: 300px;
    justify-content: space-between;
  }
  .nav__links{
    font-size: 20px;
  }
  .header-logo-nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    // align-items: center;
    padding: 50px;
  }
  .header-txt-btn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .header-title{
    width: 100%;
  }
}