.right-food-section {
  background: url("../images/background-right-food.png");
  background-size: cover;
  background-position: center;
  padding: 50px 0 50px 0;
}

.rigth-food-txt-section {
  display: flex;
  flex-flow: column wrap;
  align-self: flex-start;
  text-align: center;
  width: 430px;
  padding-top: 40px;
  margin: 0 auto;
}

.rigth-food-title {
  color: #cc9900;
  font-size: 36px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  text-align: center;

  &::first-letter {
    text-transform: uppercase;
  }

  &::after {
    content: url('../images/the-rf-divider.png');
    padding-bottom: 50px;
  }
}

.right-food-txt {
  font-size: 16px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.right-food-chef {
  width: 220px;
  height: 220px;
  padding: 58px 0 58px 0;
  margin-right: 60px;
  align-self: flex-end;
}

.right-food-image {
   width: 560px;
}

.right-food-items {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 80px 0 80px;
}


@media screen and (min-width: 320px) and (max-width:767px) {
  .right-food-chef {
   margin: 0 auto;
   padding: 0;
    width: 220px;
    height: 220px;
    align-self: center;
    margin: 58px 0 58px 0;
  }
  .right-food-image {
    margin: 0 auto;
    width: auto;
    height: 280px;
  }
  .rigth-food-title {
    font-size: 30px;
  }

  .rigth-food-txt-section {
    width: auto;
    margin: 0 auto;
    padding-top:0;
    padding-bottom: 0;
  }
  .right-food-items {
     display: flex;
     flex-flow: column;
     text-align: center;
     justify-content: center;
     align-items: center;
     max-width: 320px;
     margin: 0 auto;
     padding: 20px 0 20px 0;
  }
}

@media screen and (min-width:768px) and (max-width: 1023px){
    .right-food-chef {
        margin: 0 auto;
        padding: 0;
         width: 220px;
         height: 220px;
         align-self: center;
         margin: 58px 0 58px 0;
       }
       .right-food-image {
        //  margin: 0 auto;
        align-self: center;
         width: 560px;
         height: auto;
       }
       .rigth-food-txt-section {
        display: flex;
        flex-flow: column wrap;
        align-self: flex-start;
        text-align: center;
        width: 430px;
        padding-top: 40px;
        margin: 0 auto;
      }
      
      .rigth-food-title {
        color: #cc9900;
        font-size: 36px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        text-align: center;
      
        &::first-letter {
          text-transform: uppercase;
        }
      
        &::after {
          content: url('../images/the-rf-divider.png');
          padding-bottom: 50px;
        }
      }
     
        }

 @media screen and (min-width:1024px) and (max-width: 1439px){
     .right-food-items{
         display: flex;
         flex-flow: row;
         justify-content: center;
         align-items: center;
         padding: 15px;
     }
 }