   /* gentium-book-basic-regular - latin */
   @font-face {
     font-family: 'Gentium Book Basic';
     font-style: normal;
     font-weight: 400;
     src: url('../../fonts/gentium-book/gentium-book-basic-v9-latin-regular.woff');
   }

   @font-face {
     font-family: 'Gentium Book Basic';
     font-style: normal;
     font-weight: 700;
     src: url('../../fonts/gentium-book/gentium-book-basic-v9-latin-700.woff');
   }

   /* lato-regular - latin */
   @font-face {
     font-family: 'Lato';
     font-style: normal;
     font-weight: 400;
     src: url('../../fonts/lato/lato-v15-latin-regular.woff');
   }

   /* lato-italic - latin */
   @font-face {
     font-family: 'Lato';
     font-style: italic;
     font-weight: 400;
     src: url('../../fonts/lato/lato-v15-latin-italic.woff');
   }

   /* open-sans-regular - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     src: url('../../fonts/open-sans/open-sans-v16-latin-regular.woff');
   }

   /* open-sans-italic - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: italic;
     font-weight: 400;
     src: url('../../fonts/open-sans/open-sans-v16-latin-italic.woff');
   }

   /* open-sans-700 - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     src: url('../../fonts/open-sans/open-sans-v16-latin-700.woff');
   }

   /* open-sans-700italic - latin */
   @font-face {
     font-family: 'Open Sans';
     font-style: italic;
     font-weight: 700;
     src: url('../../fonts/open-sans/open-sans-v16-latin-700italic.woff');
   }

   /* roboto-regular - latin */
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('../../fonts/roboto/roboto-v19-latin-regular.woff');
   }

   /* roboto-700 - latin */
   @font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url('../../fonts/roboto/roboto-v19-latin-700.woff');
   }

   /* yeseva-one-regular - latin */
   @font-face {
     font-family: 'Yeseva One';
     font-style: normal;
     font-weight: 400;
     src: url('../../fonts/yeseva-one/yeseva-one-v13-latin-regular.woff');
   }
